* {
  margin: 0;
  padding: 0;
}

#c {
  background: url("../img/space_stars_bg.jpg") no-repeat center center;
  background-size: cover;
}
.btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  bottom: 5px;
  left: 2%;
  width: 120px;
}
.btn {
  background: white;
  color: black;
  font-weight: bold;
  font-size: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  outline: none;
  cursor: pointer;
}

#msg {
  position: absolute;
  background: transparent;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
  margin: 0 auto;
}

.btn-zoom {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 40px;
  left: 10px;
  height: 120px;
  justify-content: space-between;
}

.quality-select {
  position: fixed;
  top: 20px;
  right: 5px;
}

.quality-select2 {
  position: fixed;
  bottom: 5px;
  left: 15px;
}

.rounded-box {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.rounded-box input {
  font-size: 20px;
  border: none;
  padding: 5px;
  vertical-align: middle;
}

/* Estilos del placeholder */
.rounded-box input::placeholder {
  font-style: italic;
  color: #999;
}

/* Estilos para el botón */
.rounded-box button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.2s, transform 0.2s;
}

/* Estilos al hacer clic en el botón */
.rounded-box button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Estilos adicionales para el botón cuando se hace clic */
.rounded-box button:active {
  background-color: #ffffff;
  transform: scale(0.95);
}

.quality-select3 {
  position: fixed;
  bottom: 100px;
  left: 15px;
}

.hiddentext {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.material-symbols-outlined {
  height: 15px;
  width: 40px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

#acceptButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
